<aside class="sidebar">
  <div class="sidebar__wrap">
    <header class="sidebar__header">
      <div class="logo">
        <svg class="logo__icon">
          <use xlink:href="img/icons/sprite.svg#emblem-small"></use>
        </svg>
        <div class="logo__caption">
          Региональная <br>
          Информационная <br>
          Система закупок <br>
          РД
        </div>
      </div>
      <button class="image-button sidebar__button">
        <svg>
          <use xlink:href="img/icons/sprite.svg#swerve"></use>
        </svg>
      </button>
    </header>
    <div class="sidebar__body">

    </div>
  </div>
</aside>