html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'PT_Russia', 'Arial', sans-serif;
  line-height: 1.5;
  font-weight: normal;
  background-color: var(--light-fill);
  color: var(--main-text-color);
}


.h1, .h2, .h3, .h4 {
  margin: 0;
  color: var(--main-title-color);
}

.h1 {
  font-size: 2.75rem;
  line-height: 1.363636363;
}

.h2 {
  font-size: 1.875rem;
  line-height: 1.2;
}

.h3 {
  font-size: 1.375rem;
  line-height: 1.272727272;
}

.h4 {
  font-size: 1.125rem;
  line-height: 1.33333333333;
}

.hint {
  color: var(--hint-color);
}

.dropdown {
  background-color: var(--main-white);
  box-shadow: 0 8px 20px rgba(2, 11, 34, 0.1),
  0 4px 6px rgba(9, 63, 179, 0.08);
  border-radius: 5px;
  overflow: hidden;
}

.dropdown--filter {
  min-width: 344px;
  padding: 0 16px;
}

.notice {
  min-width: 344px;
  max-width: 500px;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.87);
  color: var(--main-white);
  border-radius: 5px;
}

.nav {
  font-size: 0.875rem;
  line-height: 1.42857142857;
}

.caption {
  font-size: 0.75rem;
  line-height: 1.5;
  color: var(--hint-color);
}

.logo {
  display: block;
  font-size: 1.25rem;
  line-height: 1.4;
  text-decoration: none;
  color: var(--main-white);
}

.logo__icon {
  display: inline-block;
  width: 36px;
  height: 37.25px;
  fill: var(--main-white);
}

.logo__caption {
  margin-top: 8px;
}

.sidebar__button {
  position: absolute;
  top: 24px;
  right: 32px;
}

.sidebar__button {
  fill: var(--main-white);
}

.user-account {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.user-account__item {
  padding: 16px;
  background-color: var(--main-white);
  white-space: nowrap;
  max-width: 280px;
}

.user-account__title,
.user-account__caption{
  text-overflow: ellipsis;
  overflow: hidden;
}

.user-account__caption {
  margin-top: 5px;
}