a, .link{
  color: var(--action-element-color);
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:focus,
.link:focus{
  color: var(--action-element-color);
  box-shadow: 0 0 0 3px rgba(0, 97, 217, 0.54);
  border-color: transparent;
  outline: none;
}

a:hover,
a:active,
.link:hover,
.link:active{
  color: var(--action-text-color);
  border-bottom: 1px solid var(--action-element-color);
  box-shadow: none;
}

a.disabled,
.link.disabled{
  color: var(--border-color);
  pointer-events: none;
}

.link--style2:focus{
  color: var(--main-title-color);
}

.link--style2:hover,
.link--style2:active{
  color: var(--action-text-color);
  border-bottom: 1px solid var(--action-element-color);
  box-shadow: none;
}

.link--style2{
  color: var(--main-title-color);
}

.link--style2.disabled{
  color: var(--border-color);
  pointer-events: none;
}

.link--style3{
  color: var(--hint-color);
}

.link--style3:focus{
  color: var(--hint-color);
  border-color: transparent;
}

.link--style3:hover{
  color: var(--main-text-color);
  border-color: var(--hint-color);
}

.link--style3:active{
  color: var(--main-title-color);
  border-color: var(--hint-color);
}

.link--inverse{
  color: var(--main-white);
}

.link--inverse:focus{
  color: var(--main-white);
  box-shadow: 0 0 0 3px #75A9EA;
  border-color: transparent;
}

.link--inverse:hover,
.link--inverse:active{
  color: var(--light-divider-color);
  border-color: var(--divider-color);
  box-shadow: none;
}