<div class="dropdown" style="position: absolute; left: 500px; top: 0;">
  <ul class="context-menu">
    <li class="context-menu__item">
      <a class="context-menu__link" href="#">
        <svg class="context-menu__icon">
          <use xlink:href="img/icons/sprite.svg#edit"></use>
        </svg>
        <div>
          Редактировать профиль
        </div>
      </a>
    </li>
    <li class="context-menu__item">
      <a class="context-menu__link" href="#">
        <svg class="context-menu__icon">
          <use xlink:href="img/icons/sprite.svg#lock"></use>
        </svg>
        <div>
          Сменить пароль
        </div>
      </a>
    </li>
    <li class="context-menu__item">
      <a class="context-menu__link" href="#">
        <svg class="context-menu__icon">
          <use xlink:href="img/icons/sprite.svg#exit"></use>
        </svg>
        <div>
          Выйти из системы
        </div>
      </a>
    </li>
  </ul>
</div>

<!-- Второе контексное меню дубликат -->
<div class="dropdown" style="position: absolute; left: 850px; top: 0;">
  <ul class="context-menu">
    <li class="context-menu__item">
      <a class="context-menu__link" href="#">
        <svg class="context-menu__icon">
          <use xlink:href="img/icons/sprite.svg#deactivate_user"></use>
        </svg>
        <div>
          Деактивировать
        </div>
      </a>
    </li>
    <li class="context-menu__item">
      <a class="context-menu__link" href="#">
        <svg class="context-menu__icon">
          <use xlink:href="img/icons/sprite.svg#edit"></use>
        </svg>
        <div>
          Редактировать
        </div>
      </a>
    </li>
  </ul>
</div>