<ul class="pagination-list">
  <li class="pagination-item">
    <a class="pagination-link" href="#">
      <svg class="pagination-icon">
        <use xlink:href="img/icons/sprite.svg#back"></use>
      </svg>
    </a>
  </li>
  <li class="pagination-item">
    <a class="pagination-link" href="#">
      1
    </a>
  </li>
  <li class="pagination-item">
    <span class="pagination-current">
      2
    </span>
  </li>
  <li class="pagination-item">
    <a class="pagination-link" href="#">
      3
    </a>
  </li>
  <li class="pagination-item">
    <a class="pagination-link" href="#">
      ...
    </a>
  </li>
  <li class="pagination-item">
    <a class="pagination-link" href="#">
      18
    </a>
  </li>
  <li class="pagination-item">
    <a class="pagination-link" href="#">
      19
    </a>
  </li>
  <li class="pagination-item">
    <a class="pagination-link" href="#">
      20
    </a>
  </li>
  <li class="pagination-item pagination-item--last">
    <a class="pagination-link" href="#">
      <svg class="pagination-icon">
        <use xlink:href="img/icons/sprite.svg#back"></use>
      </svg>
    </a>
  </li>
</ul>